.invisible-block {
    height: 100vh;
    width: 16rem;
    border-radius: .8rem;

}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    background-color: #fafafa;
    height: calc(100vh - 1.6rem);
    border-radius: .8rem;
    margin-right: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

    .logo {
        height: 6rem;
        color: #fff;
        padding: .8rem;
    }

    .menu {
        margin-top: 2rem;

        dt {
            font-size: 2rem;
            width: 100%;
            color: #16a085;
        }

        dd {
            margin-top: 1rem;
            margin-left: 1rem;
            font-size: 1.6rem;
            width: 100%;

            li {}

            li:hover {
                color: #16a085;
            }

            .nav-link {
                padding: .4rem .4rem .4rem 1.2rem;
            }

            .nav-link:focus {
                color: #fafafa;
                background-color: #16a085;
                border-radius: .2rem;
            }
        }
    }


}