.ShowPrestations {
    background-color: #fafafa;
    width: 100%;
    padding: 2rem;
    border-radius: .8rem;

    h3 {
        font-size: 2.8rem;
        font-weight: bolder;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;

        thead {

            tr {
                color: #fafafa;
                background-color: #16a085;
                border-radius: 1rem;
                top: 0;
                position: sticky;
                z-index: 1;

                th {
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 1.2rem;
                    text-align: center;
                    font-weight: 600;

                    span {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}