.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    height: 100vh;

    img {
        top: 0;
        left: 0;
        padding: 1rem;
        position: absolute;
        max-width: 12rem;
    }

    h2 {
        margin-top: 2rem;
        color: #ecf0f1;
    }

    ul {
        padding: 0 2rem;
        li {
            width: 100%;
            a {
                margin: .4rem 0;
                font-size: 1.8rem;
                width: 100%;
            }
        }
    }

}